* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 100px 200px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}

header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 200px;
}

header .logo {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

header .navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

header .navigation a:hover {
  color: #601cfc;
}

.landing-page-section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../media/background.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.landing-page-section h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}

.landing-page-section h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 2.5em;
  font-weight: 600;
}

.landing-page-section h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.landing-page-section .main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.landing-page-section .main-btn:hover {
  background-color: #0a49f6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.cards .card {
  background-color: #fff;
  width: 18em;
  -webkit-box-shadow: 0 5px 25px #0000003d;
          box-shadow: 0 5px 25px #0000003d;
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards .card .icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}

.cards .card .info {
  text-align: center;
}

.cards .card .info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.cards .card .info p {
  font-size: 14px;
}

.projects {
  background-color: #000016;
}

.projects .content {
  margin-top: 30px;
}

.projects .content .project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 14em;
  width: 15em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.projects .content .project-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .content .project-card:hover .project-image {
  opacity: 0.9;
}

.projects .content .project-card .project-image img {
  width: 100%;
}

.projects .content .project-card .project-info {
  padding: 1em;
}

.projects .content .project-card .project-info .project-category {
  font-size: 0.8em;
  color: #000;
}

.projects .content .project-card .project-info .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.projects .content .project-card .project-info .project-title .more-details {
  text-decoration: none;
  color: #3a6cf4;
}

.projects .content .project-card .project-info .project-title .more-details:hover {
  color: #601cfc;
}

.contact .icon {
  font-size: 4.5em;
}

.contact .info h3 {
  color: #000;
}

.contact .info p {
  font-size: 1.5em;
}

.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer .footer-title span {
  color: #3a6cf4;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }
  .navigation a {
    padding-left: 10px;
  }
  .title {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1.6em;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }
  .main-content h2 {
    font-size: 0.8em;
  }
  .main-content h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */